.header {
  position: relative;
}

.header h1 {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: #b83f45;
  text-rendering: optimizeLegibility;
}

.newTodo {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newTodo::placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

.toggleAll > input {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggleAll > input + span {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 13px;
  left: -13px;
  transform: rotate(90deg);
}

.toggleAll > input + span:before {
  content: "â¯";
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggleAll > input:checked + span:before {
  color: #737373;
}

@media screen and (min-resolution: 0) {
  .toggleAll > input {
    background: none;
  }
}
